body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    
    
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

section {
    margin: 20px;
    border: 1px solid #ddd; /* Add a border around sections */
    border-radius: 8px; /* Round the corners */
    padding: 15px; /* Add some padding inside sections */
}

h2 {
    color: #333;
    display: flex;
    justify-content: center;
}

h3 {
    color: #333;
}

h4 {
    color: #333;
}

p {
    margin: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;; /* Use a blue color for buttons */
    border-radius: 5px; /* Round the corners */
    transition: background-color 0.3s ease; /* Add a smooth transition */
}

button:hover {
    background-color: #45a049; /* Darker blue on hover */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border-radius: 8px; /* Round the corners */
    overflow: hidden; /* Hide overflowing content */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #2ecc71; /* Use a green color for header cells */
    color: white;
}

tr:nth-child(even) {
    background-color: #ecf0f1; /* Alternate row color */
}

tr:hover {
    background-color: #d4e6f1; /* Lighter background on hover */
}



/* ID */
#habits,
#addTime,#data {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

#philosophyTable {
    transition: all 0.5s ease-in-out;
}

#musicTable {
    transition: all 0.5s ease-in-out;
}

#frenchTable {
    transition: all 0.5s ease-in-out;
}

#exerciseTable {
    transition: all 0.5s ease-in-out;
}

#programingTable {
    transition: all 0.5s ease-in-out;
}

#addButton {
    display: flex;
    justify-content: center;
    
    
}
#excludeButton {
    display: flex;
    justify-content: center;
}
#saveButton {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}
/* ID */

/*class*/
.subtitleDropdown {
    display: flex;
    flex-direction: row;

}

.hidden {
    height: 0;
    padding: 0;
    border: none;
    opacity: 0;
}

.displayHidden {
    display: none;
}

.chevron{
    width: 20px;
    height: 20px;
    margin-top: 21px;
    margin-left: 10px;
}

.chevron:hover{
    cursor: pointer;
}

.retrive{
    cursor: pointer;
    background-color:rgb(206, 177, 11);
    font-size: 120%;
    display: flex;
    justify-content: end;
}
.retrive:hover{
    background-color: rgb(179, 153, 10);
}

.save{
    cursor: pointer;
    background-color:#3498db;
    font-size: 120%;
    padding-right: 23px;
    padding-left: 23px;
    display: flex;
    justify-content: end;
}
.save:hover{
    background-color: #2980b9;
}

.exclude{
    background-color: #af574c;
}
.exclude:hover {
    background-color: #a05046;
}
/*class*/